.modalForm {
  width: 500px;
  height: 300px;
  padding: 20px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
}

.bookingForm {
  width: 100%;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  /*  box-shadow: 0px 0px 40px 20px rgb(103, 160, 160, 0.7); */
  box-shadow: 0px 0px 40px 20px rgba(172, 41, 41, 0.7);
}
.bookingForm h2 {
  text-align: center;
  margin-top: 0;
}
.bookingForm label {
  margin: 5px;
  padding: 5px;
}

input {
  border: 1px solid whitesmoke;
  margin: 5px;
  padding: 5px;
}

.bookingForm input[type="text"],
.bookingForm input[type="email"],
.bookingForm input[type="date"],
.bookingForm input[type="number"] {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid whitesmoke;
}

.bookingForm.radio,
.bookingForm.checkbox {
  position: relative;
  padding-left: 28px;
  margin-right: 16px;
  cursor: pointer;
}

.bookingButton {
  height: 40px;
  width: 100px;
  padding: 5px;
  margin-top: 150px;
  border: 1px solid whitesmoke;
}

.bookingButton:hover {
  box-shadow: 0px 0px 40px 20px rgba(172, 41, 41, 0.7);
  background-color: rgb(172, 41, 41);
  border: none;
  border-radius: 1px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  margin-bottom: 16px;
}

.submitButton {
  width: 100%;
  padding: 12px 20px;
  font-weight: bold;
  background-color: rgba(172, 41, 41, 0.7);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #63a967;
}

.closeButton:hover {
  color: red;
}
.contactTextArea {
  box-shadow: 0px 0px 40px 20px rgba(172, 41, 41, 0.5);
}

.gdprFormLink {
  margin-top: 1rem;
  color: red;
  font-size: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.contactBox {
  position: relative;
  right: 1.01rem;
}

.sendButton {
  margin-top: 1rem;
}
.sendButton:hover {
  color: #63a967;
}

.getBookingContainer {
  padding: 5px;
}
.booking-list-ul {
  list-style-type: none;
}

label {
  margin-right: 0.5rem;
}
.selectTime {
  border: 1px solid whitesmoke;
  padding: 4px;
  margin: 5px;
}
.searchBookingButton:hover {
  color: #4caf50;
}

/* Step Indicator Styles */
.step-indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.step-indicator > div {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 5px;
}

.step-indicator > div.active {
  background-color: #4caf50;
}

.step-indicator > div.complete {
  background-color: #45a049;
}

.step-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.nav-button {
  width: 48%;
  padding: 12px 20px;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.nav-button:hover {
  background-color: #ddd;
}
