.ewHeader {
  width: 90%;
  position: relative;
  left: -1rem;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.navBar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}
.navBar a:hover {
  color: red;
}

.icon {
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  .navBar a:not(:first-child) {
    display: none;
  }
  .icon {
    display: none;
  }
}
