.centuryEgg {
  width: 600px;
  margin: 25px 25px 0px 25px;
}
.cuyRoastedGuineaPig {
  width: 600px;
  margin: 25px 25px 0px 25px;
}
.fermentedBirdInSeal {
  width: 600px;
  margin: 25px 25px 0px 25px;
}
.illegalCheese {
  width: 600px;
  margin: 25px 25px 0px 25px;
}

.lobster {
  width: 600px;
  height: 450px;
  margin: 25px 25px 0px 25px;
}
.mellifiedMan {
  width: 600px;
  height: 400px;
  margin: 25px 25px 0px 25px;
}
.pickledSheepsEye {
  width: 600px;
  margin: 25px 25px 0px 25px;
}
.snails {
  width: 600px;
  margin: 25px 25px 0px 25px;
}
.surstromming {
  width: 600px;
  height: 400px;
  margin: 25px 25px 0px 25px;
}

p {
  margin-top: 0;
}
.surstrommingText {
  margin-bottom: 50px;
}
