.App {
  text-align: center;
}

* {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 30px;
  padding: 5px;
  font-size: small;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  padding: 40px;
}

.gdprText {
  color: #6e4343;
  font-size: smaller;
}
